

/* popovoer start */

.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  opacity: 0.4;
  padding: 0 5px;
}

.toastify-right {
  right: 15px;
}

.toastify-left {
  left: 15px;
}

.toastify-top {
  top: -150px;
}

.toastify-bottom {
  bottom: -150px;
}

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px;
}

@media only screen and (max-width: 360px) {
  .toastify-right, .toastify-left {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      max-width: fit-content;
  }
}

/*  */

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 106000;
  display: block;
  max-width: 276px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}
.popover .arrow::before,
.popover .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: inherit;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}
.popover-header:empty {
  display: none;
}
.popover-body {
  padding: 0.5rem 0.75rem;
  color: #212529;
}

/* ---- popover end --- */

:root {
  --zindex-tooltip: 107000;
  --tooltip-margin: 0;
  /* TODO: adjust */
  --tooltip-font-size: 0.875rem;
  --tooltip-opacity: 0.9;
  --tooltip-arrow-width: 0.8rem;
  --tooltip-arrow-width-half: 0.4rem;
  --tooltip-arrow-height: 0.4rem;
  --tooltip-arrow-color: #000000;
  --tooltip-max-width: 200px;
  --tooltip-padding-y: 0.25rem;
  --tooltip-padding-x: 0.5rem;
  --tooltip-color: #ffffff;
  --tooltip-bg: #000000;
}

/* tooltip */
.tooltip {
  position: absolute;
  z-index: var(--zindex-tooltip);
  display: block;
  margin: var(--tooltip-margin);
  font-size: var(--tooltip-font-size);
  word-wrap: break-word;
  opacity: 0;
  cursor: pointer;
  border-radius: 5px;
}

.tooltip.show {
  opacity: var(--tooltip-opacity);
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: var(--tooltip-arrow-width);
  height: var(--tooltip-arrow-height);
}

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

/* Wrapper for the tooltip content */
.tooltip-inner {
  max-width: var(--tooltip-max-width);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  color: var(--tooltip-color);
  text-align: center;
  background-color: var(--tooltip-bg);
}


termit-h {
  transition: all 0.5s;
  cursor: pointer !important;
  padding: 0;
  margin: 0;
  color: #333 !important;
  border-radius: 5px;
}

termit-h.termit-h-hovered {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* termit-h.termit-h-hovered {
  background-color: rgb(126, 241, 32) !important;
} */

termit-h.assigned-term-occurrence {
  background: rgba(188, 239, 184, 0.7);
}

termit-h.assigned-term-occurrence.termit-h-hovered {
  background: rgba(116, 237, 108, 0.8);
}

termit-h.suggested-term-occurrence {
  background: rgba(239, 207, 184, 0.8);
}

termit-h.suggested-term-occurrence.termit-h-hovered {
  background: rgba(253, 203, 168, 0.8);
}

termit-h.invalid-term-occurrence {
  background: rgba(239, 66, 24, 0.7);
}

termit-h.invalid-term-occurrence.termit-h-hovered {
  background: rgba(235, 5, 5, 0.7);
}

termit-h.assigned-term-occurrence.proposed-occurrence {
  border: 0.15em dotted green;
}

termit-h.suggested-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 69, 27);
}

termit-h.invalid-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 14, 0);
}

termit-h.term-definition {
  background: rgba(80, 200, 255, 0.4);
}

termit-h.term-definition.termit-h-hovered {
  background: rgba(80, 200, 255, 0.8);
}

termit-h.pending-term-definition {
  background: rgba(150, 130, 255, 0.2);
}

termit-h.pending-term-definition.termit-h-hovered {
  background: rgba(26, 0, 157, 0.2);
}

.termit-annotation-focused {
  outline: 4px solid rgb(126, 241, 32) !important;
  /* background-color: rgb(126, 241, 32) !important; */
}

/* TODO: figure out why this is not being imported to /build */
#termit-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: default; /* Add a pointer on hover */
}
