

/* popovoer start */

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 106000;
  display: block;
  max-width: 276px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}
.popover .arrow::before,
.popover .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.bs-popover-top,
.bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}
.bs-popover-top .arrow,
.bs-popover-auto[x-placement^="top"] .arrow {
  bottom: calc((0.5rem + 1px) * -1);
}
.bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^="top"] .arrow::before,
.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
  border-width: 0.5rem 1rem 0;
}
.bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^="top"] .arrow::before {
  bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
  bottom: 1px;
  border-top-color: #fff;
}
.bs-popover-right,
.bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}
.bs-popover-right .arrow,
.bs-popover-auto[x-placement^="right"] .arrow {
  left: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}
.bs-popover-right .arrow::before,
.bs-popover-auto[x-placement^="right"] .arrow::before,
.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
  border-width: 1rem 0.5rem 1rem 0;
}
.bs-popover-right .arrow::before,
.bs-popover-auto[x-placement^="right"] .arrow::before {
  left: 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
  left: 1px;
  border-right-color: #fff;
}
.bs-popover-bottom,
.bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}
.bs-popover-bottom .arrow,
.bs-popover-auto[x-placement^="bottom"] .arrow {
  top: calc((0.5rem + 1px) * -1);
}
.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 1rem 0.5rem 1rem;
}
.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^="bottom"] .arrow::before {
  top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  top: 1px;
  border-bottom-color: #fff;
}
.bs-popover-bottom .popover-header::before,
.bs-popover-auto[x-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: 1rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}
.bs-popover-left,
.bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}
.bs-popover-left .arrow,
.bs-popover-auto[x-placement^="left"] .arrow {
  right: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}
.bs-popover-left .arrow::before,
.bs-popover-auto[x-placement^="left"] .arrow::before,
.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-width: 1rem 0 1rem 0.5rem;
}
.bs-popover-left .arrow::before,
.bs-popover-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  right: 1px;
  border-left-color: #fff;
}
.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: inherit;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}
.popover-header:empty {
  display: none;
}
.popover-body {
  padding: 0.5rem 0.75rem;
  color: #212529;
}

/* ---- popover end --- */

:root {
  --zindex-tooltip: 107000;
  --tooltip-margin: 0;
  /* TODO: adjust */
  --tooltip-font-size: 0.875rem;
  --tooltip-opacity: 0.9;
  --tooltip-arrow-width: 0.8rem;
  --tooltip-arrow-width-half: 0.4rem;
  --tooltip-arrow-height: 0.4rem;
  --tooltip-arrow-color: #000000;
  --tooltip-max-width: 200px;
  --tooltip-padding-y: 0.25rem;
  --tooltip-padding-x: 0.5rem;
  --tooltip-color: #ffffff;
  --tooltip-bg: #000000;
}

/* tooltip */
.tooltip {
  position: absolute;
  z-index: var(--zindex-tooltip);
  display: block;
  margin: var(--tooltip-margin);
  font-size: var(--tooltip-font-size);
  word-wrap: break-word;
  opacity: 0;
  cursor: pointer;
  border-radius: 5px;
}

.tooltip.show {
  opacity: var(--tooltip-opacity);
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: var(--tooltip-arrow-width);
  height: var(--tooltip-arrow-height);
}

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top {
  padding: var(--tooltip-arrow-height) 0;
}

.bs-tooltip-top.arrow {
  bottom: 0;
}
.bs-tooltip-top.arrow::before {
  top: 0;
  border-width: var(--tooltip-arrow-height) var(--tooltip-arrow-width-half) 0;
  border-top-color: var(--tooltip-arrow-color);
}

.bs-tooltip-right {
  padding: 0 var(--tooltip-arrow-height);
}
.bs-tooltip-right .arrow {
  left: 0;
  width: var(--tooltip-arrow-height);
  height: var(--tooltip-arrow-width);
}

.bs-tooltip-right .arrow::before {
  right: 0;
  border-width: var(--tooltip-arrow-width-half) var(--tooltip-arrow-height)
    var(--tooltip-arrow-width-half) 0;
  border-right-color: var(--tooltip-arrow-color);
}

.bs-tooltip-bottom {
  padding: var(--tooltip-arrow-height) 0;
}

.bs-tooltip-bottom .arrow {
  top: 0;
}
.bs-tooltip-bottom .arrow::before {
  bottom: 0;
  border-width: 0 var(--tooltip-arrow-width-half) var(--tooltip-arrow-height);
  border-bottom-color: var(--tooltip-arrow-color);
}

.bs-tooltip-left {
  padding: 0 var(--tooltip-arrow-height);
}

.bs-tooltip-auto[x-placement^="top"] {
  padding: var(--tooltip-arrow-height) 0;
}
.bs-tooltip-auto[x-placement^="right"] {
  padding: 0 var(--tooltip-arrow-height);
}
.bs-tooltip-auto[x-placement^="bottom"] {
  padding: var(--tooltip-arrow-height) 0;
}
.bs-tooltip-auto[x-placement^="left"] {
  padding: 0 var(--tooltip-arrow-height);
}

/* Wrapper for the tooltip content */
.tooltip-inner {
  max-width: var(--tooltip-max-width);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  color: var(--tooltip-color);
  text-align: center;
  background-color: var(--tooltip-bg);
}

/* ----end of tooltips ---------------******* */

#masterlingo-popup {
  width: 300px;
  height: auto;
  position: absolute;
  /* top: 750px;
    right: 500px; */
  z-index: 2147483;
  background-color: white;
  /* box-shadow: 0px 0px 2px #5c5c5c8e; */
  border-radius: 5px;
  border: 1px solid rgb(229, 231, 235);
}

#masterlingo-popup iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#masterlingo-snackbar iframe {
  width: 100%;
  height: 100%;
  border: none;
}

termit-h {
  transition: all 0.5s;
  cursor: pointer !important;
  padding: 0;
  margin: 0;
  color: #333 !important;
  border-radius: 5px;
}

termit-h.termit-h-hovered {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* termit-h.termit-h-hovered {
  background-color: rgb(126, 241, 32) !important;
} */

termit-h.assigned-term-occurrence {
  background: rgba(188, 239, 184, 0.7);
}

termit-h.assigned-term-occurrence.termit-h-hovered {
  background: rgba(116, 237, 108, 0.8);
}

termit-h.suggested-term-occurrence {
  background: rgba(239, 207, 184, 0.8);
}

termit-h.suggested-term-occurrence.termit-h-hovered {
  background: rgba(253, 203, 168, 0.8);
}

termit-h.invalid-term-occurrence {
  background: rgba(239, 66, 24, 0.7);
}

termit-h.invalid-term-occurrence.termit-h-hovered {
  background: rgba(235, 5, 5, 0.7);
}

termit-h.loading-term-occurrence {
  background: #e9eaec;
}

termit-h.assigned-term-occurrence.proposed-occurrence {
  border: 0.15em dotted green;
}

termit-h.suggested-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 69, 27);
}

termit-h.invalid-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 14, 0);
}

termit-h.loading-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 173, 62);
}

termit-h.term-definition {
  background: rgba(80, 200, 255, 0.4);
}

termit-h.term-definition.termit-h-hovered {
  background: rgba(80, 200, 255, 0.8);
}

termit-h.pending-term-definition {
  background: rgba(150, 130, 255, 0.2);
}

termit-h.pending-term-definition.termit-h-hovered {
  background: rgba(26, 0, 157, 0.2);
}

termit-h.annotation-focused {
  outline: 4px solid rgb(126, 241, 32) !important;
  /* background-color: rgb(126, 241, 32) !important; */
}

.termit-info-window {
  position: fixed;
  background-color: rgb(163, 245, 156);
  color: rgba(0, 0, 0, 0.938);
  right: 10px;
  bottom: 10px;
  width: 650px;
  height: 120px;
  font-weight: 500;
  font-size: 20px;
  padding: 15px;
  border-radius: 18px;
}

.termit-failures {
  font-weight: bold;
}

.termit-successes {
  font-weight: bold;
}

.frame-root {
  overflow-y: hidden !important;
}

#masterlingo-snackbar {
  z-index: 2147483647;
  width: 600px;
  height: 414px;
  /* background-color: #333; */
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0px;
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  font-size: 17px;
  box-shadow: 0px 0px 2px #5c5c5c8e;
  border: 1px solid rgb(143, 143, 143);
}

/* TODO: figure out why this is not being imported to /build */
#termit-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: default; /* Add a pointer on hover */
}
